
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2.8;
    color: #333;
    background-image: url('./images/roberto-h-qToVxSYXPYU-unsplash-2.jpg'); /* Path to your background image */
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position-y: 108px;
}


header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header ul li {
    margin: 0 1rem;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header ul li a:hover {
    text-decoration: underline;
}

main {
    
    padding: 2rem;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
 .projects{
    color: #fff;
    text-decoration: underline;

 } 